node_modules
dist
.vscode
coverage

# AWS
.aws-sam
samconfig.toml
!env.sample.json
*env.json
packaged.yml

sample.*

*event.json
!sample.event.json

.env
.env.*
!.env.sample

# nginx certs
certs

dump_*
